@media only screen and (min-width: 0em) {
  #weather-page {
    padding: var(--sectionPadding);
    background: linear-gradient(
      180deg,
      var(--background-main) 0%,
      var(--background-sections) 60%,
      var(--background-main) 100%
    );

    .site-container {
      max-width: none;
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

@media only screen and (min-width: 64em) {
  #weather-page {
    .site-container {
      gap: 2.5rem;
    }
  }
}
