---
import DarkModeToggle from '@components/ui/DarkModeToggle.astro';
import Navigation from '@components/layout/Navigation.astro';
import MunicipalSeal from '@components/ui/MunicipalSeal.astro';
---

<!-- ============================================ --><!--                 Navigation                   --><!-- ============================================ -->
<header id="cs-navigation">
  <div class="cs-container">
    <!--Nav Logo-->
    <a href="/" class="cs-logo" aria-label="back to home">
      <MunicipalSeal
        class="cs-logo-img"
        alt="Escudo de Belmontejo"
        width={210}
        height={29}
      />
      <span class="cs-logo-text">Ayuntamiento de Belmontejo</span>
    </a>
    <DarkModeToggle />
    <Navigation currentPathname={Astro.url.pathname} />
  </div>
</header>

<style lang="less">
  @import '../../styles/components/header.less';
</style>
