---
import BaseLayout from '@layouts/BaseLayout.astro';
import CTA from '@components/sections/CTA.astro';
import Landing from '@components/sections/Landing.astro';
import TestimonialCard from '@components/testimonials/TestimonialCard.astro';
import { testimonials } from '@data/testimonials';

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import landingImage from '@assets/images/vista-aerea-2.jpg'; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import { getImage } from 'astro:assets';
const optimizedImage = await getImage({ src: landingImage, format: 'avif' });
---

<BaseLayout
  title="Testimonios - Ayuntamiento de Belmontejo"
  description="Descubre lo que dicen los visitantes y vecinos sobre Belmontejo. Testimonios reales sobre la vida rural, la hospitalidad y la belleza de nuestro pueblo manchego."
  preloadedImage={optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing title="Testimonios" image={optimizedImage}>
    <p>
      Descubre lo que dicen los visitantes y vecinos sobre la vida y
      hospitalidad en Belmontejo
    </p>
  </Landing>

  <!-- ============================================ -->
  <!--                  Reviews                     -->
  <!-- ============================================ -->

  <section id="reviews">
    <div class="container">
      {
        testimonials.map(testimonial => (
          <TestimonialCard testimonial={testimonial} />
        ))
      }
    </div>
  </section>
  <CTA />
</BaseLayout>

<style lang="less">
  @import '../styles/pages/testimonios.less';
</style>
