---
/**
 * * Example use case of the CSPicture component if you need to use different images on mobile and desktop, for art direction.
 * * If you're fine with using the same image on all devices, you can use an >Image /> or <Picture /> component.
 **/
// Import the component and all the images you want to use with it
import CSPicture from '@components/TemplateComponents/CSPicture.astro';
import mobileImage from '@assets/images/CTA/DJI_0167.jpg';
import desktopImage from '@assets/images/CTA/DJI_0167.jpg';
import fallbackImage from '@assets/images/CTA/DJI_0167.jpg';
import Button from '@components/Button.astro';
---

<section id="cta">
  <div class="container">
    <h2 class="title">
      Ven a vivir
      <br />
      la tranquilidad
    </h2>
    <p>
      Déjate seducir por el ritmo pausado de la vida rural. En Belmontejo, cada
      amanecer es una invitación a redescubrir lo auténtico, cada paseo una
      conexión con la tierra y cada encuentro una lección de hospitalidad
      manchega. Ven y descubre por qué los pequeños pueblos guardan los tesoros
      más grandes.
    </p>
    <Button href="/contacto">Planifica tu visita</Button>
  </div>
  <CSPicture
    mobileImgUrl={mobileImage}
    mobileMediaWidth="600px"
    desktopImgUrl={desktopImage}
    desktopMediaWidth="601px"
    fallbackImgUrl={fallbackImage}
    alt=""
  />
</section>

<style lang="less">
  @import '../styles/components/cta.less';
</style>
