---
import DarkModeToggle from '@components/DarkModeToggle.astro';
import Navigation from '@components/Navigation.astro';
---

<!-- ============================================ --><!--                 Navigation                   --><!-- ============================================ -->
<header id="cs-navigation">
  <div class="cs-container">
    <!--Nav Logo-->
    <a href="/" class="cs-logo" aria-label="back to home">
      <img
        src="/assets/images/escudo.png"
        alt="Escudo de Belmontejo"
        width="210"
        height="29"
        decoding="async"
      />
      <span class="cs-logo-text">Ayuntamiento de Belmontejo</span>
    </a>
    <DarkModeToggle />
    <Navigation currentPathname={Astro.url.pathname} />
  </div>
</header>

<style lang="less">
  @import '../styles/components/header.less';
</style>
