---
import { Picture } from 'astro:assets';
const { title, image } = Astro.props;
---

<section id="int-hero">
  <h1 id="home-h">{title}</h1>

  <!-- Additional content slot for descriptions or other content -->
  <slot />

  <!-- standard <picture> attributes are supported. Set loading to lazy for assets below the fold -->
  <!-- Note: because we use the getImage function to generate an optimized image, we need to use special properties. More info on [the getImage() page](https://docs.astro.build/en/guides/images/#generating-images-with-getimage) -->
  <Picture
    src={image.src}
    width={image.attributes.width}
    height={image.attributes.height}
    formats={['avif', 'webp']}
    alt="A description of my image."
    aria-hidden="true"
    decoding="async"
    alt="kitchen cabinets"
    loading="eager"
  />
</section>

<style lang="less">
  @import '../styles/components/landing.less';
</style>
