/*-- -------------------------- -->
<---        Main Content        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .news-container {
    width: 94%;
    max-width: (1120/16em);
    margin: auto;
    padding: clamp(60px, 7vw, 100px) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: (50/16em);
    position: relative;
  }

  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: (50/16em);
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  .news-container {
    flex-direction: row;
    align-items: flex-start;
    column-gap: (48/16em);
  }

  .main-content {
    width: 69%;
  }
}

/*-- -------------------------- -->
<---          Sidebar           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .news-sidebar {
    width: 100%;
    max-width: (795/16em);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: (50/16em);
  }

  .news-sidebar_widget-wrapper {
    width: 100%;
    padding: (35/16em);
    background-color: #f7f7f7;
    border-radius: (8/16em);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  .news-sidebar {
    width: 27%;
    max-width: (305/16em);
  }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode {
    .news-sidebar_widget-wrapper {
      background-color: var(--medium);
    }

    .news-sidebar_widget-h3,
    .news-sidebar_widget-date,
    .news-sidebar_widget-header {
      color: #f7f7f7;
    }

    .news-sidebar_widget-header {
      &:after {
        background: var(--primary);
      }
    }
  }
}
